/* footer { */
/* margin-top: 10rem; */
/* padding: 1rem; */
/* position: fixed; */
/* bottom: 0; */
/* position: fixed;
  bottom: 0;
  left: 0;*/
/* width: 100%; */
/* } */

/* body {
  margin: 0;
  padding: 0;
  height: 1000px;
} */

footer {
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  /* color: white; */
  /* font-size: 25px; */
}
