.profile-form {
  margin-top: 10% !important;
}

button.btn.btn-primary {
  width: auto;
  height: fit-content;
}

.SignIn_title {
  padding-bottom: 5%;
}

.form-edit-profil {
  margin-bottom: 12%;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

button.btn-SignIn {
  margin-top: 5%;
}

.ultratest {
  padding-bottom: 5%;
}

.span-user-connect {
  color: #eb6a6a;
}
